body{
    font-family: 'Noto Serif', serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: #EC4C7D;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: #EC4C7D;
    border: #EC4C7D;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    transition: 1s;
}

#top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}
section{
    height: 500px;
}
.middle{
    margin-bottom: 150px;
}
#dream-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.bio{
    padding-top: 5%;
}
.bio p{
    margin-bottom: 30px;
}
.card-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: 5px 5px 5px 5px gray;
}
.card-width p{
    padding-right: 1%;
}

#exp-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px ;
}
.full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
.baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}